#ROS Specific Stuff
src/CMakeLists.txt
devel
build

#Doxygen Stuff

html


#Latex Stuff
*.aux
*.nav
*.out
*.snm
*.toc
*.vrb
*.log

#VIM files
*.sw?
*~

## Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
